src/main/mule/world-timezone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="4498e628-0ab1-4f8f-a827-10fed4f88716" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="28d01b1b-ae4c-40e0-adb5-8af57d516b9d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="world-timezone-apiFlow" doc:id="561b9afe-cd76-476c-8ff0-cc9645ad8d4f" >
		<http:listener doc:name="Listener" doc:id="48c3035d-37be-4785-bda3-95bd13ab01c4" config-ref="HTTP_Listener_config" path="/api/{region}/{city}"/>
		<async doc:name="Async" doc:id="0cb6df62-a961-4f42-8950-30cf1f7735ad" >
			<http:request method="GET" doc:name="Request" doc:id="d14e1757-1010-491b-8a13-446caba62eac" config-ref="HTTP_Request_configuration" path="/timezone/{region}/{city}">
			<http:uri-params><![CDATA[#[output application/java
---
{
	"region" : attributes.uriParams.region,
	"city" : attributes.uriParams.city
}]]]></http:uri-params>
		</http:request>
		</async>
		<set-payload value="#[['apple','banana','orange']]" doc:name="Set Payload" doc:id="85af566f-7ccf-42c7-a701-2f3155344a89" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="1e13f4e6-5a59-453e-a67a-178f27633aba" >
			<choice doc:name="Choice" doc:id="0d89dda2-aba3-43b2-b54c-306fe4be5e40" >
				<when expression="#[payload == 'apple']">
					<logger level="INFO" doc:name="Logger" doc:id="de6e3cc2-7981-4cca-b7b6-ec082847ad38" message="apple"/>
				</when>
				<when expression="#[payload == 'orange']">
					<logger level="INFO" doc:name="Logger" doc:id="2cc356d2-8362-4d72-a3f3-7df27ddf798f" message="orange"/>
				</when>
				<otherwise >
					<logger level="INFO" doc:name="Logger" doc:id="650af4c9-db6b-4361-9b0e-f7d50c1edfb3" message="Nothing"/>
				</otherwise>
			</choice>
		</parallel-foreach>
		<logger level="INFO" doc:name="Logger" doc:id="6464da1b-8832-4bf5-b41d-cbccc692ce46" message="#[attributes.uriParams.city]"/>
	</flow>
</mule>
